.address {
  margin: 10px 0;
}
.address table {
  border-collapse: collapse;
  border: none;
}
.address table tr td {
  vertical-align: middle;
  border: 1px solid #E3E3E3;
}
.address table tr td.title {
  text-align: center;
  width: 125px;
  color: #333;
  font-size: 14px;
}
.address table tr td.content {
  width: 700px;
}
.address table tr td.content ul li {
  height: 30px;
  margin-bottom: 5px;
  position: relative;
}
.address table tr td.content ul li:hover,
.address table tr td.content ul li.active {
  background: #FFF5D6;
}
.address table tr td.content ul li input[type='radio'] {
  position: absolute;
  top: 8px;
  left: 10px;
}
.address table tr td.content ul li p {
  position: absolute;
  top: 0;
  left: 40px;
  line-height: 30px;
}
.address table tr td.content ul li p em {
  font-style: normal;
  color: #E54346;
  font-weight: bold;
}
.address table tr td.content ul li p span {
  font-weight: bold;
}
.address table tr td.content ul li .operate {
  position: absolute;
  top: ;
  right: 0;
  line-height: 30px;
}
.address table tr td.content ul li .operate a {
  color: #134BB4;
  padding: 0 10px;
}
.address table tr td .add {
  width: 700px;
  height: 310px;
  background: #FFF5D6;
}
.address table tr td .add .info {
  height: 30px;
  position: relative;
}
.address table tr td .add .info input[type='radio'] {
  position: absolute;
  top: 8px;
  left: 10px;
}
.address table tr td .add .info p {
  position: absolute;
  top: 0;
  left: 40px;
  line-height: 30px;
}
.address table tr td .add .info p em {
  font-style: normal;
  color: #E54346;
  font-weight: bold;
}
.address table tr td .add .info p span {
  font-weight: bold;
}
.address table tr td .add .form_content {
  padding: 10px 30px;
}
.address table tr td .add .form_content dl {
  line-height: 26px;
  margin-bottom: 10px;
}
.address table tr td .add .form_content dl dt {
  width: 60px;
  line-height: 26px;
  display: inline-block;
  position: relative;
  padding-left: 20px;
}
.address table tr td .add .form_content dl dt span {
  margin: 0 5px;
  color: red;
  position: absolute;
  top: 2px;
  left: 0;
}
.address table tr td .add .form_content dl dd {
  margin-left: 5px;
  display: inline-block;
}
.address table tr td .add .form_content dl dd select {
  width: 100px;
  height: 25px;
  margin-right: 10px;
  border: 1px solid #E3E3E3;
}
.address table tr td .add .form_content dl dd input[type="text"] {
  width: 120px;
  height: 15px;
  padding: 5px;
  border: 1px solid #E3E3E3;
}
.address table tr td .add .form_content dl dd input[type="checkbox"] {
  position: relative;
  top: 2px;
}
.address table tr td .add .form_content dl dd input[type="submit"] {
  width: 120px;
  height: 30px;
  border-radius: 3px;
  color: #FFF;
  background: #DF3030;
}
.address table tr td .add .form_content dl dd input[type="submit"]:hover {
  background: #C61F1F;
}
