.password dl {
  float: left;
  margin-bottom: 10px;
}
.password dl dt {
  width: 100px;
  display: inline-block;
  font-size: 14px;
  text-align: right;
}
.password dl dd {
  width: 500px;
  display: inline-block;
}
.password dl dd input[type='password'] {
  padding: 5px;
  border: 1px solid #E6E6E6;
}
.password dl dd input[type='submit'] {
  width: 125px;
  height: 35px;
  border-radius: 3px;
  background: #CC0000;
  color: #FFF;
}
