{{include file="templates/zol/common/header_sm.html"}}

		<!--个人中心 开始-->
		<div class="w960 center">
			{{include file="templates/zol/common/home_side.html"}}
			<div class="content">
				{{include file="templates/zol/common/home_info.html"}}
				<div class="list">
					<table>
						<tr>
							<th>ID</th>
							<th style="text-align:left;">操作记录</th>
							<th>时间</th>
						</tr>
						<tr>
							<td class="td-1">1</td>
							<td class="td-6">登录后台页面</td>
							<td class="td-3">2015/9/4 12:09</td>
						</tr>
						<tr>
							<td class="td-1">1</td>
							<td class="td-6">登录后台页面</td>
							<td class="td-3">2015/9/4 12:09</td>
						</tr>
						<tr>
							<td class="td-1">1</td>
							<td class="td-6">登录后台页面</td>
							<td class="td-3">2015/9/4 12:09</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<!--个人中心 开始-->

{{include file="templates/zol/common/footer_sm.html"}}