{{include file="templates/zol/common/header_sm.html"}}

		<!--个人中心 开始-->
		<div class="w960 center">
			{{include file="templates/zol/common/home_side.html"}}
			<div class="content">
				{{include file="templates/zol/common/home_info.html"}}
				<form action="" method="post">
				<div class="list">
					<div class="password">
						<dl>
							<dt>原密码：</dt>
							<dd><input type="password" name="password_o"> 请输入原始密码</dd>
						</dl>
						<dl>
							<dt>新密码：</dt>
							<dd><input type="password" name="password"> 新密码为6-20位的数字、字母、下划线</dd>
						</dl>
						<dl>
							<dt>确认密码：</dt>
							<dd><input type="password" name="password_c"> 再次输入密码</dd>
						</dl>
						<dl>
							<dt></dt>
							<dd><input type="submit" value="修改密码"></dd>
						</dl>
					</div>
				</div>
				</form>
			</div>
		</div>
		<!--个人中心 开始-->

{{include file="templates/zol/common/footer_sm.html"}}