		<!--footer 开始-->
		<div class="w100pre footer">
			<!--bottom 开始-->
			<div class="w100pre bottom">
				<div class="w960 copyright">
					<a href="{{U('Home/Article/article',array('article'=>15))}}">关于ZOL商城</a>
					<a href="{{U('Home/Article/article',array('article'=>16))}}">帮助中心</a>
					<a href="{{U('Home/Article/article',array('article'=>16))}}">联系我们</a>
					<a href="{{U('Home/Article/article',array('article'=>17))}}">发展历程</a>
					<a href="{{U('Home/Article/article',array('article'=>18))}}">媒体报道</a>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?f229f3f88b046376fe53787892bfe366";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
					©2015 中关村在线 版权所有. 京ICP备09041801号-182 京ICP证010391号 
					<div class="authentication">
						<a href="#"><img src="{{__ROOT__}}/templates/zol/style/img/beian.jpg"></a>
						<a href="#"><img src="{{__ROOT__}}/templates/zol/style/img/jingcha.jpg"></a>
						<a href="#"><img src="{{__ROOT__}}/templates/zol/style/img/chengxin.jpg"></a>
					</div>
				</div>
			</div>
			<!--bottom 结束-->
		</div>
		<!--footer 结束-->

    </body>
</html>