		<!--footer 开始-->
		<div class="w100pre footer">
			<!--服务相关 开始-->
			<div class="w1200 service">
				<ul>
					<li>
						<h4>购物指南</h4>
						<a href="{{U('Home/Article/article',array('article'=>1))}}">帐号注册</a>
						<a href="{{U('Home/Article/article',array('article'=>2))}}">购物流程</a>
						<a href="{{U('Home/Article/article',array('article'=>3))}}">付款方式</a>
					</li>
					<li>
						<h4>售后服务</h4>
						<a href="{{U('Home/Article/article',array('article'=>4))}}">先行赔付</a>
						<a href="{{U('Home/Article/article',array('article'=>5))}}">退款退货流程</a>
						<a href="{{U('Home/Article/article',array('article'=>6))}}">投诉举报</a>
					</li>
					<li>
						<h4>商城保障</h4>
						<a href="{{U('Home/Article/article',array('article'=>7))}}">行货保障</a>
						<a href="{{U('Home/Article/article',array('article'=>8))}}">如实描述</a>
						<a href="{{U('Home/Article/article',array('article'=>9))}}">物流配送</a>
						<a href="{{U('Home/Article/article',array('article'=>10))}}">24小时发货</a>
						<a href="{{U('Home/Article/article',array('article'=>11))}}">发票保障</a>
					</li>
					<li>
						<h4>商家服务</h4>
						<a href="{{U('Home/Article/article',array('article'=>14))}}">商家中心</a>
						<a href="{{U('Home/Article/article',array('article'=>12))}}">商城规则</a>
						<a href="{{U('Home/Article/article',array('article'=>13))}}">商家帮助</a>
					</li>
				</ul>
				<dl class="cooperation">
					<dt>商家合作</dt>
					<dd>错过天猫？别再错过我们！</dd>
					<dd>ZOL商城开启全新旅程！</dd>
					<dd><a href="{{U('Home/Article/article',array('article'=>14))}}">关于入驻 > </a></dd>
				</dl>
				<dl class="hotline">
					<dt>400-678-0068</dt>
					<dd>工作日 9:00 - 18:00</dd>
					<dd><a href="">关注新浪微博</a></dd>
				</dl>
			</div>
			<!--服务相关 结束-->
			<!--bottom 开始-->
			<div class="w100pre bottom">
				<div class="w1200 link">
					<dl>
						<dt>旗下网站：</dt>
						<dd>
							<a href="http://chenhua.wang">陈华博客</a>
							<a href="http://www.wysls.com">大学生演讲网</a>
							<a href="http://www.baidu.com">百度</a>
							<a href="http://www.sina.com.cn">新浪</a>
							<a href="http://www.sohu.com">搜狐</a>
							<a href="http://www.taobao.com">淘宝</a>
						</dd>
					</dl>
				</div>
				<div class="w1200 copyright">
					<a href="{{U('Home/Article/article',array('article'=>15))}}">关于ZOL商城</a>
					<a href="{{U('Home/Article/article',array('article'=>16))}}">帮助中心</a>
					<a href="{{U('Home/Article/article',array('article'=>16))}}">联系我们</a>
					<a href="{{U('Home/Article/article',array('article'=>17))}}">发展历程</a>
					<a href="{{U('Home/Article/article',array('article'=>18))}}">媒体报道</a>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?f229f3f88b046376fe53787892bfe366";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
					©2015 中关村在线 版权所有. 京ICP备09041801号-182 京ICP证010391号 
					<div class="authentication">
						<a href="#"><img src="{{__ROOT__}}/templates/zol/style/img/beian.jpg"></a>
						<a href="#"><img src="{{__ROOT__}}/templates/zol/style/img/jingcha.jpg"></a>
						<a href="#"><img src="{{__ROOT__}}/templates/zol/style/img/chengxin.jpg"></a>
					</div>
				</div>
			</div>
			<!--bottom 结束-->
		</div>
		<!--footer 结束-->