			<div class="sidebar">
				<dl>
					<dt><i class="fa fa-user"></i> 个人中心</dt>
					<dd><a href=""><i class="fa fa-cog"></i> 个人资料</a></dd>
					<dd><a href="{{U('Home/User/password')}}"><i class="fa fa-lock"></i> 密码修改</a></dd>
					<dd><a href=""><i class="fa fa-paper-plane"></i> 收货地址</a></dd>
				</dl>
				<dl>
					<dt><i class="fa fa-table"></i> 订单相关</dt>
					<dd><a href="{{U('Home/User/order')}}"><i class="fa fa-file-text"></i> 订单列表</a></dd>
					<dd><a href=""><i class="fa fa-star"></i> 我的收藏</a></dd>
				</dl>
			</div>