<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style/css/main.css">
        <link rel="stylesheet" href="style/css/common.css">
        <link rel="stylesheet" href="style/css/index.css">
        <link rel="stylesheet" href="style/font/css/font-awesome.min.css">
    </head>
    <body>
    	<!--头部导航开始-->
    	<div class="w100pre top">
    		<div class="w960">
    			<div class="pull_left top_nav">
    				<a href="#">中关村在线</a> | 
    				<a href="#">产品报价</a> | 
    				<a href="#">ZOL商城</a> | 
    				<a href="#">Z团</a> | 
    				<a href="#">论坛</a> | 
    				<a href="#">经销商</a>
    			</div>
    			<ul class="pull_right top_login">
    				<li>欢迎来到ZOL商城，请<a href="#">登录</a> [<a href="#">免费注册</a>]</li>
    				<li><a href="#" class="cart">购物车(<span>1</span>)</a></li>
					<li><a href="#">帮助中心</a></li>
					<li>客服电话：<span>400-678-0068</span></li>
    			</ul>
    		</div>
    	</div>
    	<!--头部导航结束-->
		
		<!--banner区域开始-->
		<div class="w960 banner">
			<div class="logo"><a href="#"><img src="images/logo_180x50.png"/></a></div>
			<div class="title">中关村在线旗下网上商城</div>
			<div class="search">
				<div class="text">
					<input type="text">
					<button>搜 索</button>
				</div>
				<div class="word">
					<a href="">月末亏本促</a> 
					<a href="">华为荣耀4C</a>
					<a href="">华为</a>
					<a href="">荣耀7</a>
					<a href="">魅族</a>
					<a href="">MX5</a>
					<a href="">魅蓝</a>
					<a href="">Note2</a>
				</div>
			</div>
		</div>
		<!--banner区域结束-->
		
		<!--整站通用导航菜单 开始-->
		<div class="w100pre navbar">
			<ul class="w960">
				<li class="nav"><a href="">全部商品分类</a><i class="fa fa-chevron-down"></i></li>
				<li><a href="">首页</a></li>
				<li><a href="">团购</a></li>
				<li><a href="">限时抢购</a></li>
				<li><a href="">秒杀</a></li>
				<li><a href="">众筹</a></li>
			</ul>
		</div>
		<!--整站通用导航菜单 结束-->

		<!--当前位置 开始-->
		<div class="w960 location">
			<i class="fa fa-home"></i> <a href="">zol商城</a> > <a href="">手机</a> > 小米MI 红米NOTE2
		</div>
		<!--当前位置 结束-->



		<!--footer 开始-->
		<div class="w100pre footer">
			<!--bottom 开始-->
			<div class="w100pre bottom">
				<div class="w960 copyright">
					<a href="#">关于ZOL商城</a>
					<a href="#">帮助中心</a>
					<a href="#">联系我们</a>
					<a href="#">发展历程</a>
					媒体报道©2015 中关村在线 版权所有. 京ICP备09041801号-182 京ICP证010391号 
					<div class="authentication">
						<a href="#"><img src="style/img/beian.jpg"></a>
						<a href="#"><img src="style/img/jingcha.jpg"></a>
						<a href="#"><img src="style/img/chengxin.jpg"></a>
					</div>
				</div>
			</div>
			<!--bottom 结束-->
		</div>
		<!--footer 结束-->

    </body>
</html>