{{include file="templates/zol/common/header_sm.html"}}
		
		<!--订单提交成功提示 开始-->
		<div class="w960 ok">
			<ul>
				<li class="icon">
					<i class="fa fa-check-circle"></i>
				</li>
				<li class="message">
					<h2>您的订单已提交成功，付款咯~~~</h2>
					<p class="tips">成功付款后，立刻发货！！</p>
					<p>金额：49元</p>
					<p>订单号：123232128944</p>
					<p>配送：陈安 1387232334 上海市南京路232号 3单元 / 不限送货时间 / 个人发票</p>
				</li>
			</ul>
		</div>
		<!--订单提交成功提示 结束-->

		<!--支付平台 开始-->
		<div class="w960 pay">
			<h3>选择支付方式</h3>
			<table>
				<tr>
					<td class="title">
						支付平台
						<p>推荐使用第三方支付平台快捷支付</p>
					</td>
					<td class="content">
						<ul>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/alipay.jpg">
							</li>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/weixin-pay.jpg">
							</li>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/union-pay.jpg">
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="title">
						网银支付
						<p>网银支付会产生部分手续费，不建议使用</p>
					</td>
					<td class="content">
						<ul>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/20060713191624124.gif">
							</li>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/20060713191624149.gif">
							</li>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/20060713191624232.gif">
							</li>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/20060713191624295.gif">
							</li>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/20060713191624306.gif">
							</li>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/20060713191624438.gif">
							</li>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/20060713191624443.gif">
							</li>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/20060713191624924.gif">
							</li>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/20060713191624956.gif">
							</li>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/20060713191625141.gif">
							</li>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/20060713191625206.gif">
							</li>
							<li>
								<input type="radio">
								<img src="{{__ROOT__}}/templates/zol/style/img/pay/20060713191624438.gif">
							</li>
						</ul>
					</td>
				</tr>
			</table>
			<div class="w960 sub">
				<a href="" class="edit">修改订单</a>
				<a href="">立即支付</a>
			</div>
		</div>
		<!--支付平台 结束-->

{{include file="templates/zol/common/footer_sm.html"}}